<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="RealTimeDataAPIUserGuideURL" value="https://developer.experientswap.com"/>
    <add key="RealTimeDataAPIBadgeSampleURL" value="https://developer.experientswap.com/APIv1/#Sample_Barcodes"/>
    <add key="RealTimeDataAPILeadInfoURL" value="https://developer.experientswap.com/APIv1/LeadInfo"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
